%h1.shadow Le système solaire
%p.tiny par
%h2  
  %a{ href: "https://twitter.com/marvindanig"} 
    Marvin Danig
.clearfix
%ul.solarsystem
  %li.sun
    %a{href: "#sun"}
      %span Soleil
  %li.mercury
    %a{href: "#mercury"}
      %span Mercure
  %li.venus
    %a{href: "#venus"}
      %span Vénus
  %li.earth
    %a{href: "#earth"}
      %span
        Terre
        %span.moon &amp; Lune
  %li.mars
    %a{href: "#mars"}
      %span Mars
  %li.asteroids_meteorids
    %span Astéroides &amp; Météorites
  %li.jupiter
    %a{href: "#jupiter"}
      %span Jupiter
  %li.saturn
    %a{href: "#saturn"}
      %span
        Saturne &amp;
        %span.ring Ring
  %li.uranus
    %a{href: "#uranus"}
      %span Uranus
  %li.neptune
    %a{href: "#neptune"}
      %span Neptune
  %li.pluto
    %a{href: "#pluto"}
      %span Pluton